.container-content {
    margin-left: auto;
    margin-right: auto;
    padding-left: 125px;
    padding-right: 125px;
    width: 100%;
}
body {
    padding: 0;
    margin: 0;
}
.nav_header li a{
    text-decoration: none;
    color: white;
    padding: 7px 16px;
}
.border {
    background-color: rgba(128, 128, 128, 0.39);
    border: 1px solid red;
    height: 80px;
}
header{
    font-family: 'Alata';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}
.header-row{
    background-color: #131249;
    height: 80px;
}
.logo_header{
    background-image: url(./img/logo\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
}

.title_header {
    background-color: #C84500;
}

.hero {
    height: 760px;
    background-image: url(img/BG.jpg);
}

.search {
    height: 100px;
}

.popular {
    height: 500px;
}

.group {
    height: 600px;
}