.border{
background-color: gray;
    border: 1px solid red;
    height: 80px;
}
.hero{
    height: 760px;
    /* background-image: url(BG.jpg); */
}
.search{
    height: 100px;
}
.popular{
    height: 500px;
}
.group{
    height: 600px;
}