.container-content {
    margin-left: auto;
    margin-right: auto;
    padding-left: 125px;
    padding-right: 125px;
    width: 100%;
}

body {
    padding: 0;
    margin: 0;
}

.nav_header li a {
    text-decoration: none;
    color: white;
    padding: 7px 16px;
}

.border {
    background-color: rgba(128, 128, 128, 0.39);
    border: 1px solid red;
    height: 80px;
}

header {
    font-family: 'Alata';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.header-row {
    height: 80px;
}

.header-row ul {
    margin-left: -45px;
    margin-right: 20px;
}

.header-bg-bl {
    background-color: #131249;
}

.header-bg-or {
    background-color: #C84500;
}

.logo_header {
    background-image: url(./img/logo\ 1.png);
    background-repeat: no-repeat;
    background-position: 0;
}

.title_header {}

/* ============================== HERO ========================= */
.hero {
    height: 880px;
    background-image: url(img/BG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.hero p {
    font-family: 'Arizonia';
    font-weight: 400;
    font-size: 52px;
    color: #131249;
}

/* ============================== SEARCH ========================= */
.search {
    background: #FFFFFF;
    box-shadow: 0px 4px 19px 1px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    height: 100px;
}

.search_text_items {
    font-family: 'Alata';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #444444;
}

.search_text {
    font-family: 'Alata';
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #131249;
}

.search-button {
    background-color: #C84500;
}

/* ============================== POPULAR ========================= */
.popular {
    height: 500px;
}

.popular-text-item {
    font-family: Alata;
    font-size: 50px;
    font-weight: 400;
    line-height: 69px;
}

.popular-text {
    font-family: Alata;
    font-size: 17px;
    font-weight: 400;
    line-height: 23px;
}

/* ============================== GROUP ========================= */
.group {
    height: 600px;
}